/* There wasn't a lot of commonality or pattern to most of the elements on the design, but I've used vars where possible because DRY */
$bodyFont: 'Open Sans', sans-serif;
$brandColour: #ff6008;
$brandGrey: #515356;
$brandDarkGrey: #333333;
$brandParaGrey: #b1b1b1;
$brandBoxGrey: #f5f5f5;
$brandFooterGrey: #b2b2b2;
/* Next colour requires important to override Bootstrap */
$brandOrange: #ff5e1b!important;
$quoteWidth: 85%;