footer {
	p {
		font-family: $bodyFont;
  		font-size: 10px;
  		letter-spacing: 1px;
  		color: $brandGrey;
  		text-transform: uppercase;
  		margin-bottom: 0;
	}
	ul {
		padding-left: 0;
		li {
			list-style: none;
		}
		a {
			font-family: $bodyFont;
	 		font-size: 12px;
	  		line-height: 1.75;
	  		letter-spacing: 0.2px;
	  		color: $brandFooterGrey;
			&:hover {
				color: $brandOrange;
				text-decoration: none;
				transition: 0.5s;
			}
  		}
	}
	/* Selector or class better here? */
	.col-sm-3 {
		display:none;
		@media(min-width:768px) {
			display:block;
		}
	}
}