/* Nesting here because these styles are specific to the Jumbotron */

.jumbotron {
	height: 600px;
	background-image: radial-gradient(circle at 11% 11%, #585858, #333333);
	margin-bottom: 0;
	.container {
		text-align: center;
		img {
			padding-right: 17px;
		}
		h1 {
			 margin-top: 12rem;
			 font-family: $bodyFont;
			 font-size: 60px;
			 font-weight: bold;
			 letter-spacing: 6px;
			 color: white;
			 text-transform: uppercase;
			 @media(min-width:768px) {
			 	font-size: 72px;
			 }
		}
	}
}