/* Not perfect, but functional. */
.navbar {
	float: right;
	margin-right: 10px;
	background: $brandOrange;
	width: 122px;
	height: 50px;
	justify-content: left;
	display: block;
	padding-top: 12px;
	/* Please forgive me */
	margin-top: -90px;
	@media(min-width:960px) {
		margin-top: -35px;
		margin-right: 20px;
	}
	button {
		padding: 0;
		border: none;
	}
	span {
			padding-left: 15px;
			font-family: $bodyFont;
			text-transform: uppercase;
			color: white;
			font-size: 14px;
  			letter-spacing: 0.2px;
	}
	.navbar-collapse {
		width: 122px;
    	margin-left: -16px;
	}
	.mr-auto {
		background: $brandOrange;
		text-align:center;
		padding-top: 8px;
    	a.nav-link {
    		color: white;
    		font-family: $bodyFont;
	  		font-size: 12px;
	  		letter-spacing: 1.5px;
    		text-transform: uppercase;
    		&:hover {
    			color: white;
    		}
    	}
	}
}