h4 {
	font-family: $bodyFont;
 	font-size: 24px;
	line-height: 1.38;
	letter-spacing: -0.3px;
	color: $brandGrey;
	margin-bottom: 15px;
}
article p {
	font-family: $bodyFont;
	font-size: 18px;
	line-height: 1.39;
	letter-spacing: 0.3px;
	color: $brandParaGrey;
	margin-bottom: 25px;
}