.nav {
	float: left;
	margin-top: 10px;
	width: 100%;
	@media(min-width:960px) {
		margin-top: 37px;
	}
}
.nav-item {
	width: 100%;
	margin-left: 10px;
	@media(min-width: 960px) {
		margin-left:0;
		margin-right: 55px;
		width:auto;
	}
	a {
		padding: 0;
		font-family: $bodyFont;
	  	font-size: 12px;
	  	letter-spacing: 1.5px;
	  	color: white;
	  	text-transform: uppercase;
	  	&:hover {
			color: $brandOrange;
			transition: 0.5s;
		}
	}
	&:last-of-type {
  		margin-right: 0;
  	}
}