.subHeader {
	background: $brandColour;
	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 35px;
	p {
		font-family: $bodyFont;
		font-size: 20px;
  		line-height: 1.4;
  		letter-spacing: 0.2px;
  		color: white;
  		opacity: 0.89;
  		text-align:center;
  		margin-bottom: 0;
	}
	.brandButton {
			text-align: center;
			margin-top: 15px;
	}
	a.btn {
		padding-top: 16px;
		font-family: $bodyFont;
		font-size: 10px;
		letter-spacing: 2px;
		height: 46px;
		border-radius: 40px;
  		background-color: white;
  		color: $brandGrey;
  		text-transform: uppercase;
  		&:hover {
  			background-color: $brandGrey;
  			color:white;
  			transition: 0.5s;
  		}
	}
	/* Mobile first, specific override to preserve layout */
	@media(min-width:856px) {
		a.btn {
  			width: 180px;
  		}
  	}
  	@media(min-width:576px) {
  		.brandButton {
			text-align: right;
			margin-top:8px;
		}
		p {
			text-align:left;
		}
  	}
}