/* Keeping this as compartmentalised and non-nested as possible, but the result is ultimately subjective */
.boxOut {
	background: $brandBoxGrey;
	padding-top: 51px;
	padding-left: 46px;
	max-height: fit-content;
}
h5 {
	max-width: $quoteWidth;
	font-family: $bodyFont;
 	font-size: 24px;
 	line-height: 1.17;
 	letter-spacing: -0.4px;
 	color: $brandGrey;
 	padding-bottom: 15px;
}
aside {
	blockquote {
		max-width: $quoteWidth;
		font-family: $bodyFont;
		font-size: 14px;
		line-height: 1.43;
		letter-spacing: 0.4px;
		color: $brandParaGrey;
		padding-bottom: 47px;
	}
	p {
		font-family: $bodyFont;
  		font-size: 14px;
  		line-height: 1.21;
  		letter-spacing: 0.2px;
  		color: $brandParaGrey;
  		margin-bottom: 2px;
	}
	p:first-of-type {
		font-family: $bodyFont;
  		font-size: 13px;
  		letter-spacing: 1.2px;
  		color: $brandGrey;
	}
	div[rel=author] {
		padding-bottom: 49px;
	}
}