/* There wasn't a lot of commonality or pattern to most of the elements on the design, but I've used vars where possible because DRY */
/* Next colour requires important to override Bootstrap */
.mainText, .boxOut {
  margin-top: 31px; }
  @media (min-width: 768px) {
    .mainText, .boxOut {
      margin-top: 63px; } }

footer {
  margin-top: 32px;
  padding-bottom: 28px; }
  @media (min-width: 768px) {
    footer {
      margin-top: 64px;
      padding-bottom: 56px; } }

/* Keeping this as compartmentalised and non-nested as possible, but the result is ultimately subjective */
.boxOut {
  background: #f5f5f5;
  padding-top: 51px;
  padding-left: 46px;
  max-height: fit-content; }

h5 {
  max-width: 85%;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.4px;
  color: #515356;
  padding-bottom: 15px; }

aside blockquote {
  max-width: 85%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.4px;
  color: #b1b1b1;
  padding-bottom: 47px; }

aside p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.2px;
  color: #b1b1b1;
  margin-bottom: 2px; }

aside p:first-of-type {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 1.2px;
  color: #515356; }

aside div[rel=author] {
  padding-bottom: 49px; }

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: -0.3px;
  color: #515356;
  margin-bottom: 15px; }

article p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.3px;
  color: #b1b1b1;
  margin-bottom: 25px; }

h2 {
  padding-top: 42px;
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  line-height: 1.12;
  letter-spacing: -1px;
  text-align: center;
  color: #333333; }
  @media (min-width: 768px) {
    h2 {
      padding-top: 84px; } }

/* Not perfect, but functional. */
.navbar {
  float: right;
  margin-right: 10px;
  background: #ff5e1b !important;
  width: 122px;
  height: 50px;
  justify-content: left;
  display: block;
  padding-top: 12px;
  /* Please forgive me */
  margin-top: -90px; }
  @media (min-width: 960px) {
    .navbar {
      margin-top: -35px;
      margin-right: 20px; } }
  .navbar button {
    padding: 0;
    border: none; }
  .navbar span {
    padding-left: 15px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    letter-spacing: 0.2px; }
  .navbar .navbar-collapse {
    width: 122px;
    margin-left: -16px; }
  .navbar .mr-auto {
    background: #ff5e1b !important;
    text-align: center;
    padding-top: 8px; }
    .navbar .mr-auto a.nav-link {
      color: white;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      letter-spacing: 1.5px;
      text-transform: uppercase; }
      .navbar .mr-auto a.nav-link:hover {
        color: white; }

footer {
  /* Selector or class better here? */ }
  footer p {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    color: #515356;
    text-transform: uppercase;
    margin-bottom: 0; }
  footer ul {
    padding-left: 0; }
    footer ul li {
      list-style: none; }
    footer ul a {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      line-height: 1.75;
      letter-spacing: 0.2px;
      color: #b2b2b2; }
      footer ul a:hover {
        color: #ff5e1b !important;
        text-decoration: none;
        transition: 0.5s; }
  footer .col-sm-3 {
    display: none; }
    @media (min-width: 768px) {
      footer .col-sm-3 {
        display: block; } }

.col-sm-2.social ul li {
  display: inline;
  padding-right: 5px; }
  .col-sm-2.social ul li a {
    font-size: 20px; }

.nav {
  float: left;
  margin-top: 10px;
  width: 100%; }
  @media (min-width: 960px) {
    .nav {
      margin-top: 37px; } }

.nav-item {
  width: 100%;
  margin-left: 10px; }
  @media (min-width: 960px) {
    .nav-item {
      margin-left: 0;
      margin-right: 55px;
      width: auto; } }
  .nav-item a {
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: white;
    text-transform: uppercase; }
    .nav-item a:hover {
      color: #ff5e1b !important;
      transition: 0.5s; }
  .nav-item:last-of-type {
    margin-right: 0; }

/* Nesting here because these styles are specific to the Jumbotron */
.jumbotron {
  height: 600px;
  background-image: radial-gradient(circle at 11% 11%, #585858, #333333);
  margin-bottom: 0; }
  .jumbotron .container {
    text-align: center; }
    .jumbotron .container img {
      padding-right: 17px; }
    .jumbotron .container h1 {
      margin-top: 12rem;
      font-family: "Open Sans", sans-serif;
      font-size: 60px;
      font-weight: bold;
      letter-spacing: 6px;
      color: white;
      text-transform: uppercase; }
      @media (min-width: 768px) {
        .jumbotron .container h1 {
          font-size: 72px; } }

.subHeader {
  background: #ff6008;
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 35px;
  /* Mobile first, specific override to preserve layout */ }
  .subHeader p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: white;
    opacity: 0.89;
    text-align: center;
    margin-bottom: 0; }
  .subHeader .brandButton {
    text-align: center;
    margin-top: 15px; }
  .subHeader a.btn {
    padding-top: 16px;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    height: 46px;
    border-radius: 40px;
    background-color: white;
    color: #515356;
    text-transform: uppercase; }
    .subHeader a.btn:hover {
      background-color: #515356;
      color: white;
      transition: 0.5s; }
  @media (min-width: 856px) {
    .subHeader a.btn {
      width: 180px; } }
  @media (min-width: 576px) {
    .subHeader .brandButton {
      text-align: right;
      margin-top: 8px; }
    .subHeader p {
      text-align: left; } }
