h2 {
	padding-top: 42px;
	font-family: $bodyFont;
  font-size: 42px;
  line-height: 1.12;
  letter-spacing: -1px;
  text-align: center;
  color: $brandDarkGrey;
  @media(min-width: 768px) {
    padding-top: 84px;
  }
}